body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url("UserLayout/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;    
}

#container{
    display: flex;
    flex-direction: row;

    margin-bottom: 17%;

}

#container nav{
    display: flex;
    flex-direction: column;

    padding-right: 5em;

    margin-right: 5%;
    margin-left: 3em;
}

#container nav a{
    font-size: x-large;
    text-decoration: none;
    background-color: rgb(241, 172, 42);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    color: white;
    
    border-bottom-style: solid;
    border-bottom-color:  rgb(245, 186, 76);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-width: 0.5px;
    
    padding-left:2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


#container nav a:hover{
    background-color: rgb(240, 182, 75);
    width: 100%;
}

#container section{
    background-color: white;

    border-radius: 50px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    display: flex;
    flex-direction: column;
}

#userNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-bottom-style: solid;
    border-bottom-width: 0.5px;

    margin-left: 2em;
    margin-right: 2em;
}

#userNav a{
    font-size: x-large;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 0.2em;

    color: black;
    font-weight: 600;

}

#userNav a:hover{

    color: rgb(56, 28, 28);
}

#logo{
    margin-bottom: 3%;
}

p{
    margin-left: 0.2em;
    font-size: larger;
    padding-left: 6em;
    padding-right: 6em;
}

#content img{
    width: 20%;
    height: 30%;
    margin-top: 3em;
    margin-left: 10%;
}


#passwordForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 2em;
}

#passwordForm label{
    font-size: larger;
    color: rgb(99, 99, 235);

    margin-top: 2em;

}

#passwordForm input{
    font-size: larger;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 70%; 
}

#passwordForm button{
    font-size: larger;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;

    width: 70%; 
    
    border-style: none;
    border-radius: 20px;
    background-color: rgb(191, 191, 247);
}

#passwordForm button:hover{
    background-color: rgb(137, 137, 247);
}

.doctor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;

    border-radius: 50px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

.doctor label{
    margin-left: 3em;
    margin-bottom: 2em;
}

.doctor #check{
    margin-bottom: 1em;
    width: 1em;
    
}

select{
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: larger;
}

#passwordForm a{
    font-size: larger;
    color: rgb(53, 53, 238);

    margin-top: 2em;
}


#passwordForm img{
    margin-right: 9em;
    height: 10%;
    width: 20%;
}

section{
    margin-right: 3em;
}

#downLink{
    margin-left: 18em;
    margin-bottom: 1em;
}