{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('manager.approveDoctors')}}">Approve doctors</a>
    <a href="">Reports</a>
    <a href="">Waiting for diagnose</a>
    <a href="{{url_for('Authentication.ManagerChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.ManagerHome')}}">Home Page</a>
{% endblock %}

{% block desc %}
    <form action="" method="POST" id="passwordForm">

        {% for doctor in doctors%}
            <div class="doctor">
                <input id="check" type="checkbox" name="doctors" id="" value="{{ doctor.id }}"">
                <label for="">Name:{{doctor.username}}</label>
                <label for="">Id:{{doctor.user_id}}</label>
                <label for="">License:{{doctor.doctor_license}}</label>
            </div>
        {% endfor %}

        <button>Approve</button>
    </form>
{% endblock desc %}