{% extends 'Authlayout.html' %} 

{% block content %}

<p>Choose Auth</p>
<div class="ChooseAuth">
    <a class="ChooseAnchor" href="{{url_for('Authentication.DoctorRegister')}}">
        <h3>Doctor</h3>
        <img class="ChooseIcon" src="static/Authlayout/Doctor.png" alt="Doctor image">
    </a>

    <a class="ChooseAnchor" href="{{url_for('Authentication.PatientRegister')}}">
        <h3>Patient</h3>
        <img class="ChooseIcon" src="static/Authlayout/Patient.png" alt="Patient image">
    </a>
</div>

{% endblock content %}