{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('doctor.Doctor_Answer')}}">Create diagnose report</a>
    <a href="{{url_for('doctor.Helping_Doctors')}}">Colleague reports</a>
    <a href="">AI help</a>
    <a href="{{url_for('doctor.SearchPatientHistory')}}">Patient history</a>
    <a href="{{url_for('doctor.DoctorsAppointments')}}">Appoitment scedule</a>
    <a href="{{url_for('Authentication.DoctorChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.doctorHome')}}">Home Page</a>
{% endblock %}

{% block desc %}
    <div action="" id="passwordForm">
        <a href="{{url_for('doctor.AnswerDiagnose')}}" id="report">
            <img src="static/UserLayout/diagnose.png" alt="login icon">   
            <p>Answer for diagnose</p>
        </a>
        <a href="{{url_for('doctor.RequestHelp')}}" id="report">
            <img src="static/UserLayout/help.png" alt="login icon">
            <p>Request Help</p>
        </a>
    </div>
{% endblock desc %}