{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('manager.approveDoctors')}}">Approve doctors</a>
    <a href="{{url_for('manager.managerReports')}}">Reports</a>
    <a href="{{url_for('manager.waitingForDiagnose')}}">Waiting for diagnose</a>
    <a href="{{url_for('Authentication.ManagerChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.ManagerHome')}}">Home Page</a>
{% endblock %}

{% block desc %}
    <form action="" method="POST" id="passwordForm">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="passwordConf">Password confirm</label>
        <input type="password" name="passwordConf" id="passwordConf">

        <button>Submit</button>

        <label>{{message}}</label>
    </form>
{% endblock desc %}