{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('manager.approveDoctors')}}">Approve doctors</a>
    <a href="{{url_for('manager.managerReports')}}">Reports</a>
    <a href="{{url_for('manager.waitingForDiagnose')}}">Waiting for diagnose</a>
    <a href="{{url_for('Authentication.ManagerChangePassword')}}">Account settings</a>
{% endblock content %}

{% block homepage %}
    <a href="{{url_for('Authentication.ManagerHome')}}">Home Page</a>
{% endblock %}

{% block desc %}

    <div id="passwordForm">
        <a href="{{url_for('manager.downloadLoginReports')}}" id="report">
            <img src="static/UserLayout/login.png" alt="login icon">
            <p>Login report</p>
        </a>
        
        <a href="{{url_for('manager.downloadReports')}}" id="report">
            <img src="static/UserLayout/calender.png" alt="calender icon">
            <p>Appointments Report</p>
        </a>
        
        <a href="{{url_for('manager.downloadDiagnose')}}" id="report">
            <img src="static/UserLayout/diagnose.png" alt="diagnose icon">
            <p>Diagnose Report</p>
        </a>
    </div>

    
{% endblock desc %}