{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('manager.approveDoctors')}}">Approve doctors</a>
    <a href="{{url_for('manager.managerReports')}}">Reports</a>
    <a href="{{url_for('manager.waitingForDiagnose')}}">Waiting for diagnose</a>
    <a href="{{url_for('Authentication.ManagerChangePassword')}}">Account settings</a>
{% endblock content %}

{% block homepage %}
    <a href="{{url_for('Authentication.ManagerHome')}}">Home Page</a>
{% endblock %}

{% block desc %}

    <div id="passwordForm">
        <h1>Report Number: {{report.id}}</h1>
        <img src="{{ url_for('static', filename='Images/' + report.image) }}" alt="Report Image">
        <label for="">Satrt Date:{{report.start_date}}</label>
        <label for="">End Date:{{report.end_date }}</label>
        <label for="">Doctor:{{doctor.username }}</label>
        <label for="">Answer: {{report.is_sick}}</label>
    </div>
{% endblock desc %}