{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('patient.PatientDiagnose')}}">Create diagnose report</a>
    <a href="{{url_for('patient.PatientScedule')}}">Scedule an appointment</a>
    <a href="{{url_for('patient.DiagnoseReport')}}">Diagnose report</a>
    <a href="{{url_for('patient.DiagnoseHistory')}}">Diagnose history</a>
    <a href="{{url_for('Authentication.PatientChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.patientHome')}}">Home Page</a>
{% endblock %}

{% block desc %}
    <p> <b>- Create diagnose report: </b> Allowed to upload medical report for doctor diagnose </p>
    <p> <b>- Scedule an appointment: </b> Allowed to make an appointment with the doctor </p>
    <p> <b>- Diagnose report: </b> See current diagnose report </p>
    <p> <b>- Diagnose history: </b> See all the past diagnoses </p>
    <p> <b>- Account settings: </b> Allowed to change password </p>
{% endblock desc %}

