{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('patient.PatientDiagnose')}}">Create diagnose report</a>
    <a href="{{url_for('patient.PatientScedule')}}">Scedule an appointment</a>
    <a href="{{url_for('patient.DiagnoseReport')}}">Diagnose report</a>
    <a href="{{url_for('patient.DiagnoseHistory')}}">Diagnose history</a>
    <a href="{{url_for('Authentication.PatientChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.patientHome')}}">Home Page</a>
{% endblock %}

{% block desc %}
    <form action="" method="POST" id="passwordForm">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="passwordConf">Password confirm</label>
        <input type="password" name="passwordConf" id="passwordConf">

        <button>Submit</button>

        <label>{{message}}</label>
    </form>
{% endblock desc %}

