{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('patient.PatientDiagnose')}}">Create diagnose report</a>
    <a href="{{url_for('patient.PatientScedule')}}">Scedule an appointment</a>
    <a href="{{url_for('patient.DiagnoseReport')}}">Diagnose report</a>
    <a href="{{url_for('patient.DiagnoseHistory')}}">Diagnose history</a>
    <a href="{{url_for('Authentication.PatientChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.patientHome')}}">Home Page</a>
{% endblock %}

{% block desc %}

    <div id="passwordForm">
        <h1>Report Number: {{report.id}}</h1>
        <img src="{{ url_for('static', filename='Images/' + report.image) }}" alt="Report Image">
        <label for="">Satrt Date:{{report.start_date}}</label>
        <label for="">End Date:{{report.end_date }}</label>
        <label for="">Doctor:{{doctor.username }}</label>
        <label for="">Answer: {{report.is_sick}}</label>
    </div>
{% endblock desc %}