{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('patient.PatientDiagnose')}}">Create diagnose report</a>
    <a href="">Scedule an appointment</a>
    <a href="{{url_for('patient.DiagnoseReport')}}">Diagnose report</a>
    <a href="{{url_for('patient.DiagnoseHistory')}}">Diagnose history</a>
    <a href="{{url_for('Authentication.PatientChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.patientHome')}}">Home Page</a>
{% endblock %}

{% block desc %}
    <form action="" method="POST" id="passwordForm" enctype="multipart/form-data">
        <label for="file">Upload Image</label>
        <input type="file" name="file" id="file">

        <label for="doctor">Select doctor</label>
        <select name="doctor" id="doctor">
            {% for doc in doctor %}
                <option value="{{doc.id}}">{{doc.username}}</option>
            {% endfor %}
        </select>

        <button>Submit</button>
    </form>
{% endblock desc %}