{% extends 'homeLayout.html' %} 


{% block content %}
    <a href="{{url_for('patient.PatientDiagnose')}}">Create diagnose report</a>
    <a href="">Scedule an appointment</a>
    <a href="">Diagnose report</a>
    <a href="{{url_for('patient.DiagnoseHistory')}}">Diagnose history</a>
    <a href="{{url_for('Authentication.PatientChangePassword')}}">Account settings</a>
{% endblock content %}


{% block homepage %}
    <a href="{{url_for('Authentication.patientHome')}}">Home Page</a>
{% endblock %}

{% block desc %}

    <div id="passwordForm">
        {% for report in reports %}
            <div class="doctor">
                <a href="{{ url_for('patient.report_details', report_id=report.id) }}">Report_number:{{ report.id }}</a>
                <label for="">Date:{{report.start_date}}</label>
            </div>
        {% endfor %}
    </div>
{% endblock desc %}